craft/web/cpresources
craft/storage

vendor
node_modules
dist
dist-ssr
dev-dist
test-results
playwright-report
blob-report
playwright/.cache
*.local
.env
license*

logs
*.log
npm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

